/* style.css */
body {
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile-photo {
    height: 100px;
    width: 100px;
}
